In [9]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from IPython.display import display

In [5]:
play_tennis = pd.read_csv("./csv_file/PlayTennis.csv")
play_tennis.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [11]:
number = LabelEncoder() # value 를 숫자로 encoding 해주는 함수.
play_tennis['Outlook'] = number.fit_transform(play_tennis['Outlook'])
play_tennis['Temperature'] = number.fit_transform(play_tennis['Temperature'])
play_tennis['Humidity'] = number.fit_transform(play_tennis['Humidity'])
play_tennis['Wind'] = number.fit_transform(play_tennis['Wind'])
play_tennis['Play Tennis'] = number.fit_transform(play_tennis['Play Tennis'])
display(play_tennis)

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         2            1         0     1            0
1         2            1         0     0            0
2         0            1         0     1            1
3         1            2         0     1            1
4         1            0         1     1            1
5         1            0         1     0            0
6         0            0         1     0            1
7         2            2         0     1            0
8         2            0         1     1            1
9         1            2         1     1            1
10        2            2         1     0            1
11        0            2         0     0            1
12        0            1         1     1            1
13        1            2         0     0            0

In [14]:
features = ['Outlook','Temperature','Humidity','Wind']
target = "Play Tennis"
x=play_tennis[features]
y=play_tennis[target]

display(x,y)

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
1         2            1         0     0
2         0            1         0     1
3         1            2         0     1
4         1            0         1     1
5         1            0         1     0
6         0            0         1     0
7         2            2         0     1
8         2            0         1     1
9         1            2         1     1
10        2            2         1     0
11        0            2         0     0
12        0            1         1     1
13        1            2         0     0

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Play Tennis, dtype: int64

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state = 42)
# 머신러닝 모델을 naive bayes 를 선택
model = GaussianNB() 
model.fit(x_train,y_train)

GaussianNB()

In [16]:
pred = model.predict(x_test) # x_test 데이터에 대해서 predict 한다.
accuracy = accuracy_score(y_test,pred) # y_test(play_tennis) 에 대해 예측값과 비교하여 정확도 측정
print("acc : ", accuracy)

acc :  0.6

In [18]:
print(model.predict([[0,1,1,0]]))

[1]

<br> 위의 결과로 정확도는 60% 로 나오고, 
<br> 흐리고,덥고,습도가보통이고,바람이강할때 테니스를 칠거다[1] 로 예측된다